<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>This is a page that only logged-in people can visit. Don't you feel special? Try clicking on a button below to do some things you can't do when you're logged out.</p>
    <div class="buttons">
      <button class="btn btn-outline-info ml-2" @click="clickOpenDashboardModalButton()">Open a modal</button>
      <button class="btn btn-info" @click="clickShiftButton()">Afficher shift</button>
    </div>
  </div>
  <div class="container">
      <h3>Date shift</h3>
      <input class="form-control" type="date" v-model="date">
    <table @action="clickShiftButton()" id="shift" class="table table-striped table-bordered">
      <thead>
      <tr>
        <th></tdh>
        <th><p>8h          15h</p></th>
        <th>15h23h</th>
        <th>23h8h</th>
      </tr>
      </thead>
      <tbody>
      <tr id="equipe A">
        <th>Equipe A</th>
        <td v-bind:class="{disponible: disponible.equipe1[0]}"></td>
        <td v-bind:class="{disponible: disponible.equipe1[1]}"></td>
        <td v-bind:class="{disponible: disponible.equipe1[2]}"></td>
      </tr>
      <tr id="equipe B">
        <th>Equipe B</th>
        <td v-bind:class="{disponible: disponible.equipe2[0]}"></td>
        <td v-bind:class="{disponible: disponible.equipe2[1]}"></td>
        <td v-bind:class="{disponible: disponible.equipe2[2]}"></td>
      </tr>
      <tr id="equipe C">
        <th>Equipe C</th>
        <td v-bind:class="{disponible: disponible.equipe3[0]}"></td>
        <td v-bind:class="{disponible: disponible.equipe3[1]}"></td>
        <td v-bind:class="{disponible: disponible.equipe3[2]}"></td>
      </tr>
      <tr id="equipe D">
        <th>Equipe D</th>
        <td v-bind:class="{disponible: disponible.equipe4[0]}"></td>
        <td v-bind:class="{disponible: disponible.equipe4[1]}"></td>
        <td v-bind:class="{disponible: disponible.equipe4[2]}"></td>
      </tr>
      </tbody>
    </table>
   </div>

  <modal class="example-modal" v-if="dashboardModalVisible" @close="closeDashboardModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Example modal</h2>
      <p>At your leisure, please peruse this excerpt from a whale of a tale.</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">Chapter 1: Loomings.</h5>
      <p>Call me Ishmael. Some years ago—never mind how long precisely—having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world. It is a way I have of driving off the spleen and regulating the circulation. Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off—then, I account it high time to get to sea as soon as I can. This is my substitute for pistol and ball. With a philosophical flourish Cato throws himself upon his sword; I quietly take to the ship. There is nothing surprising in this. If they but knew it, almost all men in their degree, some time or other, cherish very nearly the same feelings towards the ocean with me.</p>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline-info">Cancel</button>
    </div>
  </modal>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
