<div id="available-superviseurs" v-cloak>

  <!--<h1>TODO: Implement this page.</h1>-->
  <!--<p>(See also <em>assets/styles/pages/superviseurs/available-superviseurs.less</em>, <em>assets/js/pages/superviseurs/available-superviseurs.page.js</em>, and <em>api/controllers/superviseurs/view-available-superviseurs.js</em>.)</p>-->
  <div class="container">
    <div class="page-header text-center">
      <h1>Les Equipes NOC Supervision</h1>
      <h5>vue globale sur les equipes NOC supervision qui veille sur notre réseau jour et nuit. </h5>
      <div class="header-button">
        <button class="btn btn-outline-primary" @click="">Ajouter Superviseur</button>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
